/* Global Styles */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@import url("//fonts.googleapis.com/css?family=Work+Sans:300,400,600");

.main-container {
  display: flex;
  justify-content: center;

  background-color: #d4d4d4;
}

.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  width: 1050px;
  height: 1600px;
  gap: 10px;

  margin-top: 20px;
}

.item-list {
  display: block;
  background-color: #ffffff;
  width: 200px;
}

.item {
  padding: 10px;
  box-shadow:2px 2px 4px 0 #d1d1d1;
}

.item-image {
  width: 200px;
}

.image {
  width: 180px;
}

.item-title {
  padding-bottom: 10px;
}

.item-details {
  position: relative;
}

.item-price {
  color: #3c763d;
  display: inline-block;
  font-size: 1.2rem;
  font-weight: 600;
  margin: .5rem .25rem 0;
  line-height: 1;
}

.item-quantity {
  border-radius: 2px;
  bottom: 1rem;
  color: #fff;
  font-size: .75rem;
  font-weight: 600;
  width: 50px;
  height: 20px;
  text-align: center;
  position: absolute;
  left: 130px;
}


/* Quantity Level */

[class^="level-"] {
  color: #fff;
}

.level-low {
  background-color: #a94442;
}

.level-medium {
  background-color: #8a6d3b;
}

.level-high {
  background-color: #3c763d;
}